body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

section {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.secao1 {
  background-color: #ffe4e1; /* rosa-claro */
}

.secao2 {
  background-color: #e0ffff; /* azul-claro */
}

.secao3 {
  background-color: #f0fff0; /* verde-claro */
}
