.tabelapessoas {
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
}

.tabelapessoas th,
.tabelapessoas td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.tabelapessoas thead {
  background-color: #add8e6; /* azul-claro */
}